In [1]:
import pandas as pd
import numpy as np

# Pre-processing

In [2]:
# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration", "num_doors", "body_style", "drive_wheels", 
           "engine_location", "wheel_base", "length", "width", "height", "curb_weight", "engine_type", "num_cylinders", "engine_size",
           "fuel_system", "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]

In [3]:
# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data", header=None, names=headers, na_values="?" )

In [ ]:
df.dtypes

In [ ]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

In [ ]:
obj_df[obj_df.isnull().any(axis=1)]

In [ ]:
obj_df["num_doors"].value_counts()

In [ ]:
# Fill with four

# Find and replace

In [ ]:
obj_df["num_cylinders"].value_counts()

In [ ]:
cleanup nums = {"num doors": {"four": 4, "two": 2}, 
                "num_cylinders": {"four": 4, "six": 6, "five": 5, "eight": 8, "two": 2, "twelve": 12, "three":3 }
                }

In [ ]:
# Replace

# Label Encoding

Convert each value in a column to a number.

Shortcut : Convert column to 'category' then do label encoding to it

Assign encoded variable to a new column using cat.codes

Disadvantage: Numerical values can be misinterpreted as having ordering respective to the value, i.e 0<1<2 etc.

# One-hot encoding

get_dummies()

Disadvantage: Number of columns increases proportional to the number of unique values in the column.

# Custom binary encoding

If we need to only filter for a broad category of input values in a column based on a common pattern:

# Using Scikit-learn

LabelEncoder

LabelBinarizer